#blog {
  overflow: auto;
  position: fixed;
  bottom: 0;
  top: 8rem;
  margin-left: 1rem;
}

@media (min-width: 640px) {
  #blog {
    top: 4rem;
  }
}

#blog > :first-child {
  margin-top: 0;
}

.blogPost-light > h1 {
  color: hsl(288, 46%, 28%);
  margin-top: 2rem;
  margin-bottom: 0;
}

.blogPost-dark > h1 {
  color: hsl(288, 46%, 72%);
  margin-top: 2rem;
  margin-bottom: 0;
}

.blogPost > h3 {
  margin-bottom: 1vh;
}

/* Should always be the date */
.blogPost > :nth-child(2) {
  margin: 1vh;
  color: #888;
}

.blogPost > p {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.blogPost > :first-child {
  margin-top: 0;
}
