body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: hsl(275, 100%, 8%);
  color: white;
}

.dark > p > a {
  color: hsl(275, 100%, 88%);
}

.light {
  background-color: hsl(275, 100%, 96%);
  color: black;
}

.light > p > a {
  color: hsl(275, 100%, 12%);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.skip-nav-link {
  position: absolute;
  padding: 0.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  left: 0.5rem;
  transform: translateY(-120%);
  transition: all 325ms;
  z-index: 999;
}

.skip-nav-link:focus {
  transform: translateY(0);
}

.light > #root > .skip-nav-link {
  color: hsl(275, 100%, 12%);
}

.dark > #root > .skip-nav-link {
  color: hsl(275, 100%, 88%);
}
